<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineShopping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
  <filter-name>IP</filter-name>
  <filter-class>filter.IPFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>IP</filter-name>
  <url-pattern>/org/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.ApplicationHandler</listener-class>
  </listener>
  <listener>
    <listener-class>org.SessionHandler</listener-class>
  </listener>
  <context-param>
    <param-name>cartClass</param-name>
    <param-value>org.ShoppingCart</param-value>
  </context-param>
  <context-param>
    <param-name>driver</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:oracle:thin:@172.25.12.1:1521:orcl</param-value>
  </context-param>
  <context-param>
    <param-name>userName</param-name>
    <param-value>user101</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>user101</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Authenticate</display-name>
    <servlet-name>Authenticate</servlet-name>
    <servlet-class>org.Authenticate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authenticate</servlet-name>
    <url-pattern>/Authenticate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>MakePayment</display-name>
    <servlet-name>MakePayment</servlet-name>
    <servlet-class>org.MakePayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakePayment</servlet-name>
    <url-pattern>/MakePayment</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Pay</display-name>
    <servlet-name>Pay</servlet-name>
    <servlet-class>org.Pay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pay</servlet-name>
    <url-pattern>/Pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>org.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCart</display-name>
    <servlet-name>ListCart</servlet-name>
    <servlet-class>org.ListCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCart</servlet-name>
    <url-pattern>/ListCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCart</display-name>
    <servlet-name>AddCart</servlet-name>
    <servlet-class>org.AddCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCart</servlet-name>
    <url-pattern>/AddCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Category</display-name>
    <servlet-name>Category</servlet-name>
    <servlet-class>org.Category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/Category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Products</display-name>
    <servlet-name>Products</servlet-name>
    <servlet-class>org.Products</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Products</servlet-name>
    <url-pattern>/Products</url-pattern>
  </servlet-mapping>
</web-app>